<html>
<head>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta name="apple-mobile-web-app-capable" content="no" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>Geo Finder</title>

    <meta property="og:image" content="images/icon_300.png"/>
    <link rel="apple-touch-icon" href="images/icon_300.png"/>

    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script>
    	$(document).on("mobileinit", function () {
        	$.mobile.hashListeningEnabled = false;
        	$.mobile.pushStateEnabled = false;
    	});
	</script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<style>
		.content {
			text-align:left;
			max-width:700px;
			margin:0 auto 0 auto;
			padding:0 15px 25px 15px
		}
	</style>
</head>
<body>

<div data-role="page" id="filter">
	<div data-role="header">
		<h1>Juvenile Resource Finder</h1>
		<a href="#about" class="ui-btn ui-icon-info ui-btn-icon-notext ui-corner-all ui-btn-right" data-transition="slide"></a>
	</div>
	<div data-role="content" class="content">
		<div class="ui-field-contain">Use the following selections to find social, community based programs & services in Suffolk County.
			<select id="town" name="select-native-1" id="select-native-1" style="width:100%" onChange="list_page();">
        		<option value="0">Choose a Location</option>
						<option id="loading_selection">Loading Locations...</option>
						<option v-for="item in items" v-bind:value="item['fields']['Latitude, Longitude, Zoom']">{{ item['fields']['Name'] }}</option>
    		</select>
		</div>

		<p> Enter age of the juvenile seeking services.</p>
		<input name="age" id="age" data-type="number" placeholder="Input Age of Juvenile Seeking Services" onChange="list_page();">

		<fieldset id="categories" data-role="controlgroup">
			<h3 style="margin-top:15px;">Check All That Apply:</h3>
		</fieldset>

		<fieldset data-role="controlgroup" data-type="horizontal">
    		<input type="radio" name="radio-choice-h-2" id="radio-choice-h-2a" value="list" checked="checked">
    		<label for="radio-choice-h-2a">List View</label>
    		<input type="radio" name="radio-choice-h-2" id="radio-choice-h-2b" value="map">
    		<label for="radio-choice-h-2b">Map View</label>
		</fieldset>

		<a href="javascript:results_page();" data-role="button">Find Resources</a>

	</div>
</div>



<div data-role="page" id="about">
	<div data-role="header">
		<h1>About</h1>
		<a href="#filter" data-transition="slide" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-arrow-l">Back</a>
	</div>
	<div data-role="content" class="content">
		<p> Nicole Siino is the Legal Innovation and Technology Fellow in the Juvenile Defender Clinic at Suffolk University Law School. In addition to representing juveniles in juvenile delinquency matters, Nicole created this Juvenile Resource Finder after discovering there was no comprehensive list of resources that juveniles can benefit from. Nicole is in her last year of law school and hopes to pursue a career in public interest law. In addition to being a Student Attorney and a Legal Innovation and Technology Fellow, she is a Content Editor on the Journal of High Technology Law.</p>
		<p> You can check out the <a href="https://www.suffolklitlab.org">Suffolk Lit Lab's</a> website to see other LIT projects!<p>
		<p style="text-align:center"><a href="http://suffolklitlab.org/" target="_blank"><img src="images/LIT_logo.png" width="200px"/ border="0"></a></p>

	</div>
</div>



<div data-role="page" id="details">
	<div data-role="header">
		<h1>Details</h1>
		<a href="#" data-rel="back" data-transition="slide" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-arrow-l">Back</a>
	</div>
	<div data-role="content" class="content">
		<div id="detail" v-for="" v-if="">
		</div>
	</div>
</div>



<div data-role="page" id="results">
	<div data-role="header">
		<h1>Results</h1>
		<a href="#filter" data-transition="slide" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-home ui-btn-icon-notext"></a>
		<div data-role="navbar">
			<ul>
				<li><a href="#results">List</a></li>
				<li><a href="javascript:void('');" style="color:#ccc" onClick="size_map();$.mobile.changePage($('#map-page'), { transition: 'none'});">Map</a></li>
			</ul>
		</div>
	</div>
		<div data-role="content" class="content">
				<h1 id="town_name"></h1>
				<ul id="org_list" data-role="listview" data-inset="true">
				</ul>
		</div>

		<ul id="org_geo_list" style="display:none;"></ul>

</div>



<div data-role="page" id="map-page" style="background:#798e9e;">
	<div data-role="header">
		<h1>Results</h1>
		<a href="#filter" data-transition="slide" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-home ui-btn-icon-notext"></a>
	</div>
		<div data-role="navbar">
			<ul>
				<li><a href="#results" data-transition="none" style="color:#ccc">List</a></li>
				<li><a href="#map-page">Map</a></li>
			</ul>
		</div>
		<div>
			<div id="map" style="width:100%;height:100px;"></div>
		</div>
</div>

<!-- Include Dependency Scripts -->
<!--<script type="text/javascript" src="https://unpkg.com/vue"></script>-->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCDs-cJfxydB2mKizGvtEt5tGMhcxMjmk"></script>

<script type="text/javascript">

	var app_id = "appHUknSmoIogemD5";
	var app_key = "keyHtA4JdvolTnmFV";
	var cat_names = [["Outreach","Community Outreach"],["Counseling","Counseling"],["Training","Job Opportunties/Training"],["Health","Health Services"],["Risk","High Risk"],["Multi","Multi-Service"]];

	var categories = "";
	var ages = "";
	var work = 0;

	function load_first() {
			cat_names.forEach((cat, index) => {
					$("#categories").html( $("#categories").html() + "<input type=\"checkbox\" name=\"checkbox-v-"+cat[0]+"\" id=\"checkbox-v-"+cat[0]+"\" onChange=\"list_page();\" checked=\"checked\">");
					$("#categories").html( $("#categories").html() + "<label for=\"checkbox-v-"+cat[0]+"\">"+cat[1]+"</label>");
			});
			$( '#categories' ).enhanceWithin();
			load_api_data('#filter',0);
	}

	load_first();

	function load_api_data(target,mode=3,id='') {
		work = 1;
		//https://api.airtable.com/v0/appHUknSmoIogemD5/Boston/?filterByFormula=AND(20<={Maximum Age},20>={Minimum Age},OR((FIND("Community Outreach",{Category})),(FIND("Counseling",{Category}))))
		if (mode == 0) {
			apicall = "https://api.airtable.com/v0/"+app_id+"/Locations/?sort[0][field]=Name&sort[0][direction]=asc";
		} else if (mode == 1) {
			apicall = "https://api.airtable.com/v0/"+app_id+"/Categories/?sort[0][field]=Name&sort[0][direction]=asc";
		} else if (mode == 2) {
			apicall = "https://api.airtable.com/v0/"+app_id+"/" + $('#town').find(":selected").text() + "/?filterByFormula=AND("+ages+"OR("+categories+"))&sort[0][field]=Name&sort[0][direction]=asc";
		} else if (mode == 3) {
			apicall = "https://api.airtable.com/v0/"+app_id+"/" + $('#town').find(":selected").text() + "/?filterByFormula=(RECORD_ID()=\""+id+"\")";
		}

		var app = new Vue({
              el: target,
              data: {
                  items: []
              },
              mounted: function(){
                 this.loadItems();
              },
              methods: {
                  loadItems: function(){

                      // Init variables
                      var self = this
                      this.items = []
					axios.get(
													 apicall,
                          {
                              headers: { Authorization: "Bearer "+ app_key }
                          }
                      ).then(function(response){
                          self.items = response.data.records;
													work = 0;
													if (mode == 0) {	$('#loading_selection').remove() }
                      }).catch(function(error){
                          console.log(error)
                      })
                  }
              }
          });
	}

	function results_page() {

		if ($('#town').find(":selected").text() == "Choose a Location") {
			alert('You must choose a location.');
		} else if ( isNaN(Number($('#age').val())) ) {
			alert('You must enter a numeric age (in years) or leave blank.')
		} else if ($('#checkbox-v-Outreach').is(":checked") || $('#checkbox-v-Counseling').is(":checked") || $('#checkbox-v-Risk').is(":checked") || $('#checkbox-v-Training').is(":checked") || $('#checkbox-v-Health').is(":checked") || $('#checkbox-v-Multi').is(":checked")) {
			next_page_1()
    } else {
			alert('You must choose at least one type of service.')
		}
	}

	function next_page_1() {
		if (work == 0) {
			if ($('input[name=radio-choice-h-2]:checked', '#filter').val() == "map") {
					size_map();
					$.mobile.changePage($('#map-page'), { transition: 'slide'});
			} else {
					$.mobile.changePage($('#results'), { transition: 'slide'});
			}
		} else {
			if ($.mobile.loading().is(':hidden')) {
				$.mobile.loading("show");
			}
			setTimeout(function () {
        next_page_1()
    	}, 100);
		}
	}

	function list_page() {

		if ($('#town').find(":selected").text() != "Choose a Location" && !isNaN(Number($('#age').val())) ) {
				$("#org_list").html("");
				$("#org_geo_list").html("<li id=\"ge0_points\" v-for=\"item in items\">{{ item['id'] }},{{ item['fields']['Name'] }},{{ item['fields']['Latitude'] }},{{ item['fields']['Longitude'] }}</li>");

				categories = "";

				cat_names.forEach((cat, index) => {
					if ($('#checkbox-v-'+cat[0]).is(":checked")){
						$("#org_list").html( $("#org_list").html() + "<li data-role=\"list-divider\">"+cat[1]+"</li>")
						$("#org_list").html( $("#org_list").html() + "<li v-for=\"item in items\" v-if=\"item['fields']['Category'] == '"+cat[1]+"'\"><a href=\"javascript:void('')\" v-bind:id=\"item['id']\" onClick=\"details_page(this.id);\">{{ item['fields']['Name'] }}<p>Ages: {{ item['fields']['Minimum Age'] }}-{{ item['fields']['Maximum Age'] }}; Gender(s): {{ item['fields']['Gender'] }}</p></a></li>")
						if (categories != "") {
							categories = categories+",";
						}
						categories = categories+"FIND(\""+cat[1]+"\",{Category})";
					}
				});

				if ($('#age').val()=="") {
					ages = "";
				} else {
					ages = Number($('#age').val())+"<={Maximum Age},"+Number($('#age').val())+">={Minimum Age},";
				}

				$('#town_name').html($('#town').find(":selected").text());

		    load_api_data('#results',2);

				geo_data = $('#town').find(":selected").val().split(',').map(Number);
				//console.log(geo_data)

				lat = geo_data[0];
				lon = geo_data[1];
				zoomin = geo_data[2];

	  	} else {
				return false;
			}

		}

		function details_page(id) {

      	$("#detail").attr("v-for", "item in items");
      	//$("#detail").attr("v-if", "item['id'] == '"+id+"'");
      	$("#detail").html("");
      	$("#detail").html($("#detail").html() + "<h3>{{ item['fields']['Name'] }}</h3>")
      	$("#detail").html($("#detail").html() + "<h4>{{ item['fields']['Category'] }}</h4>");
				$("#detail").html($("#detail").html() + "<p><b>Contact:</b> {{ item['fields']['Contact'] }}</p>");
      	$("#detail").html($("#detail").html() + "<p><b>Website:</b> {{ item['fields']['Website'] }}</p>");
      	$("#detail").html($("#detail").html() + "<p><b>Age Range:</b> {{ item['fields']['Minimum Age'] }} - {{ item['fields']['Maximum Age'] }}</p>");
      	$("#detail").html($("#detail").html() + "<p><b>Gender:</b> {{ item['fields']['Gender'] }}</p>");
      	$("#detail").html($("#detail").html() + "<p><b>Address:</b> {{ item['fields']['Address'] }}</p>");
      	$("#detail").html($("#detail").html() + "<p><b>Description:</b> {{ item['fields']['Description'] }}</p>");
				$("#detail").html($("#detail").html() + "<p><b>Valid As Of:</b> {{ item['fields']['Valid As Of'] }}</p>");

			load_api_data('#details',3,id);


			//$.mobile.changePage($('#details'), { transition: 'slide'})
			next_page_2();

      //$('#details').listview('refresh');
		  //$( '#details' ).enhanceWithin();
      //$.mobile.changePage($('#details'), { transition: 'slide'});
      //return true;
    }

		function next_page_2() {
			if (work == 0) {
				$.mobile.changePage($('#details'), { transition: 'slide'})
			} else {
				if ($.mobile.loading().is(':hidden')) {
					$.mobile.loading("show");
				}
				setTimeout(function () {
					next_page_2()
				}, 100);
			}
		}

		//list_page();

		/*
		https://developers.google.com/maps/documentation/javascript/adding-a-google-map
			*/

		var markers = [];

		function initMap(lat,lon,zoomin) {
			var uluru = {lat: lat, lng: lon};
			var map = new google.maps.Map(document.getElementById('map'), {
		        zoom: zoomin,
		        center: uluru
		      });

			i = 0;
			$('#org_geo_list li').each(function(){
				//alert($(this).text());
				pin_data = $(this).text().split(',');
				marker = new google.maps.Marker({
					position: {lat: Number(pin_data[2]), lng: Number(pin_data[3])},
					map: map
				});
				var infowindow = new google.maps.InfoWindow({
					content: "<div style=\"width:225px;text-align:center;\"><h2>"+pin_data[1]+"</h2><div style=\"width:100%;text-align:center;padding-bottom:10px;\"><a href=\"javascript:details_page(\'"+pin_data[0]+"\')\">view details</a></span></div>"
				});

				//creates an infowindow 'key' in the marker.
				marker.infowindow = infowindow;

				//finally call the explicit infowindow object
				marker.addListener('click', function() {
					hideAllInfoWindows(map);
					return this.infowindow.open(map, this);
				});

				markers.push(marker);

				++i;
			});

			google.maps.event.addListener(map, 'click', function() {
			    if (infowindow) {
			        infowindow.close();
			    }
			});

		}

		function hideAllInfoWindows(map) {
		   markers.forEach(function(marker) {
		     marker.infowindow.close(map, marker);
		  });
		}

		function size_map() {
			initMap(lat,lon,zoomin);
			$('#map').height( window.innerHeight - 81 +  'px');

		}

		$("div[data-role=page]").bind("pagebeforeshow", function (e, data) {
		  $.mobile.silentScroll(0);
		  $.mobile.changePage.defaults.transition = 'slide'; // reset default here
		})

</script>



</body>
</html>
