<html>
<head>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
	<meta name="apple-mobile-web-app-capable" content="no" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>Geo Finder</title>
    
    <meta property="og:image" content="https://www.qnamarkup.org/images/QnA_300.png"/>
    <link rel="apple-touch-icon" href="https://www.qnamarkup.org/images/QnA_300.png"/> 
    	
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script>
    	$(document).on("mobileinit", function () {
        	$.mobile.hashListeningEnabled = false;
        	$.mobile.pushStateEnabled = false;
    	});
	</script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<style>
		.content {
			text-align:left;
			max-width:700px;
			margin:0 auto 0 auto;
			padding:0 15px 25px 15px
		}
	</style>
</head>
<body>


<div data-role="page" id="filter">
	<div data-role="header">
		<h1>Juvenile Resource Finder</h1>
		<a href="#about" class="ui-btn ui-icon-info ui-btn-icon-notext ui-corner-all ui-btn-right" data-transition="slide"></a>
	</div> 
	<div data-role="content" class="content">
		<div class="ui-field-contain">Use the following selections to find programs & services near you.
			<select id="town" name="select-native-1" id="select-native-1" style="width:100%">
        		<option value="0">Choose a Location</option>
        		<option value="Boston">Boston</option>
        		<option value="Chelsea">Chelsea</option>
        		<option value="Dorchester">Dorchester</option>
        		<option value="Jamaica%20Plain">Jamaica Plain</option>
				<option value="Roxbury">Roxbury</option>
    		</select>
		</div>

		<input id="autocomplete-input" data-type="number" placeholder="Input Age of Juvenile Seeking Services">

		<fieldset data-role="controlgroup">
			<h3 style="margin-top:15px;">Check All That Apply:</h3>
				<input type="checkbox" name="checkbox-v-2a" id="checkbox-v-2a">
				<label for="checkbox-v-2a">Job Opportunties/Training</label>
				<input type="checkbox" name="checkbox-v-2b" id="checkbox-v-2b">
				<label for="checkbox-v-2b">Community Outreach</label>
				<input type="checkbox" name="checkbox-v-2c" id="checkbox-v-2c">
				<label for="checkbox-v-2c">Counseling</label>
				<input type="checkbox" name="checkbox-v-2d" id="checkbox-v-2d">
				<label for="checkbox-v-2d">Health Services</label>
				<input type="checkbox" name="checkbox-v-2e" id="checkbox-v-2e">
				<label for="checkbox-v-2e">High Risk</label>
				<input type="checkbox" name="checkbox-v-2f" id="checkbox-v-2f">
				<label for="checkbox-v-2f">Multi-Service</label>
		</fieldset>

		<fieldset data-role="controlgroup" data-type="horizontal">
    		<input type="radio" name="radio-choice-h-2" id="radio-choice-h-2a" value="on" checked="checked">
    		<label for="radio-choice-h-2a">List View</label>
    		<input type="radio" name="radio-choice-h-2" id="radio-choice-h-2b" value="off">
    		<label for="radio-choice-h-2b">Map View</label>
		</fieldset>
		
		<a href="javascript:void('');" data-role="button" onClick="list_page();">Find Resources</a>
		
	</div>
</div>

<div data-role="page" id="about">
	<div data-role="header"> 
		<h1>About</h1> 
		<a href="#" data-transition="slide" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-arrow-l" data-rel="back">Back</a>
	</div> 
	<div data-role="content" class="content">
	
	</div>	
</div>

<div data-role="page" id="details">
	<div data-role="header"> 
		<h1>Details</h1> 
		<a href="#results" onCLick="$( '#results' ).enhanceWithin();" data-transition="slide" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-arrow-l">Back</a>
		<a href="#about" class="ui-btn ui-icon-info ui-btn-icon-notext ui-corner-all ui-btn-right" data-transition="slide"></a>
	</div>
	<div data-role="content" class="content">
		<div id="detail" v-for="" v-if="">
					<h3>{{ item['fields']['Name'] }}</h3>
					<h4>{{ item['fields']['Category'] }}</h4>
                    <p><b>Age Range:</b> {{ item['fields']['Minimum Age'] }} - {{ item['fields']['Maximum Age'] }}</p>
                    <p><b>Gender:</b> {{ item['fields']['Gender'] }}</p>
                    <p><b>Address:</b> {{ item['fields']['Address'] }}</p>
                    <p><b>Description:</b> {{ item['fields']['Description'] }}</p>
                    <p><b>Website:</b> {{ item['fields']['Website'] }}</p>
                    <p><b>Contact:</b> {{ item['fields']['Contact'] }}</p>
		</div>
	</div>
</div>

<div data-role="page" id="results">
	<div data-role="header"> 
		<h1>Results</h1>
		<a href="#filter" onClick="$( '#details' ).enhanceWithin();" data-transition="slide" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-arrow-l">Back</a>
		<a href="#about" class="ui-btn ui-icon-info ui-btn-icon-notext ui-corner-all ui-btn-right" data-transition="slide"></a>
		<div data-role="navbar">
			<ul>
				<li><a href="#results">List</a></li>
				<li><a href="#map-page" style="color:#ccc" onClick="size_map();">Map</a></li>
			</ul>
		</div>
	</div>
		<div data-role="content" class="content">
			<h1 id="town_name">Boston</h1>
				<ul data-role="listview" data-inset="true">
					<li data-role="list-divider">Community Outreach</li>
					<li id="outreach" v-for="item in items" v-if="item['fields']['Category'] == 'Community Outreach'"><a href="javascript:void('')" onClick="details_page(this.innerHTML);">{{ item['fields']['Name'] }}</a></li>
					<li data-role="list-divider">Counseling</li>
					<li id="counseling" v-for="item in items" v-if="item['fields']['Category'] == 'Counseling'"><a href="javascript:void('')" onClick="details_page(this.innerHTML);">{{ item['fields']['Name'] }}</a></li>
					<li data-role="list-divider">High Risk</li>
					<li id="risk" v-for="item in items" v-if="item['fields']['Category'] == 'High Risk'"><a href="javascript:void('')" onClick="details_page(this.innerHTML);">{{ item['fields']['Name'] }}</a></li>
					<li data-role="list-divider">Job Opportunities/Training</li>
					<li id="training" v-for="item in items" v-if="item['fields']['Category'] == 'Job Opportunities/Training'"><a href="javascript:void('')" onClick="details_page(this.innerHTML);">{{ item['fields']['Name'] }}</a></li>
					<li data-role="list-divider">Multi-Service</li>
					<li id="service" v-for="item in items" v-if="item['fields']['Category'] == 'Multi-Service'"><a href="javascript:void('')" onClick="details_page(this.innerHTML);">{{ item['fields']['Name'] }}</a></li>
				</ul>
		</div>
		
</div>


<div data-role="page" id="map-page">
	<div data-role="header"> 
		<h1>Results</h1>
		<a href="#filter" onClick="$( '#details' ).enhanceWithin();"  data-transition="slide" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-arrow-l">Back</a>
		<a href="#about" class="ui-btn ui-icon-info ui-btn-icon-notext ui-corner-all ui-btn-right" data-transition="slide"></a>
	</div>
		<div data-role="navbar">
			<ul>
				<li><a href="#results" style="color:#ccc">List</a></li>
				<li><a href="#map-page">Map</a></li>
			</ul>
		</div>
		<div>
			<div id="map" style="width:100%;height:100px;"></div>
		</div>
		
</div>


		<!-- Include Dependancy Scripts -->
        <script type="text/javascript" src="https://unpkg.com/vue"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
  
    
		<script type="text/javascript">
		
		function load_api_data(target) {
			var app = new Vue({
                el: target,
                data: {
                    items: []
                },
                mounted: function(){
                   this.loadItems(); 
                },
                methods: {
                    loadItems: function(){
                        
                        // Init variables
                        var self = this
                        var app_id = "appHUknSmoIogemD5";
                        var app_key = "keyHtA4JdvolTnmFV";
                        this.items = []
						axios.get(
                            "https://api.airtable.com/v0/"+app_id+"/" + $('#town').find(":selected").text(),
                            { 
                                headers: { Authorization: "Bearer "+ app_key } 
                            }
                        ).then(function(response){
                            self.items = response.data.records
                        }).catch(function(error){
                            console.log(error)
                        })
                    }
                }
            });
		}
		
		
		function list_page() {
			$("#outreach").attr("v-for", "item in items");
        	$("#outreach").attr("v-if", "item['fields']['Category'] == 'Community Outreach'");
        	$("#outreach").html("<a href=\"javascript:void('')\" onClick=\"details_page(this.innerHTML);\">{{ item['fields']['Name'] }}</a>");
			$("#counseling").attr("v-for", "item in items");
        	$("#counseling").attr("v-if", "item['fields']['Category'] == 'Counseling'");
        	$("#counseling").html("<a href=\"javascript:void('')\" onClick=\"details_page(this.innerHTML);\">{{ item['fields']['Name'] }}</a>");
			$("#risk").attr("v-for", "item in items");
        	$("#risk").attr("v-if", "item['fields']['Category'] == 'High Risk'");
        	$("#risk").html("<a href=\"javascript:void('')\" onClick=\"details_page(this.innerHTML);\">{{ item['fields']['Name'] }}</a>");
			$("#training").attr("v-for", "item in items");
        	$("#training").attr("v-if", "item['fields']['Category'] == 'Job Opportunities/Training'");
        	$("#training").html("<a href=\"javascript:void('')\" onClick=\"details_page(this.innerHTML);\">{{ item['fields']['Name'] }}</a>");
			$("#service").attr("v-for", "item in items");
        	$("#service").attr("v-if", "item['fields']['Category'] == 'Multi-Service'");
        	$("#service").html("<a href=\"javascript:void('')\" onClick=\"details_page(this.innerHTML);\">{{ item['fields']['Name'] }}</a>");
			
			$('#town_name').html($('#town').find(":selected").text());
            		          
            load_api_data('#results',$.mobile.changePage($('#results'), { transition: 'slide'})  ); 
             
            $('#results').enhanceWithin();         
            //$.mobile.changePage($('#results'), { transition: 'slide'});
            return true;
        }
            
        function details_page(id) {
	        $( '#details' ).enhanceWithin();
        
        	$("#detail").attr("v-for", "item in items");
        	$("#detail").attr("v-if", "item['fields']['Name'] == '"+id+"'");
        	$("#detail").html("<h3>{{ item['fields']['Name'] }}</h3>					<h4>{{ item['fields']['Category'] }}</h4>                    <p><b>Age Range:</b> {{ item['fields']['Minimum Age'] }} - {{ item['fields']['Maximum Age'] }}</p>                    <p><b>Gender:</b> {{ item['fields']['Gender'] }}</p>                    <p><b>Address:</b> {{ item['fields']['Address'] }}</p>                    <p><b>Description:</b> {{ item['fields']['Description'] }}</p>                    <p><b>Website:</b> {{ item['fields']['Website'] }}</p>                    <p><b>Contact:</b> {{ item['fields']['Contact'] }}</p>");
 			load_api_data('#details');
 			$.mobile.changePage($('#details'), { transition: 'slide'})
			
            //$('#details').listview('refresh');
            $( '#details' ).enhanceWithin();
            //$.mobile.changePage($('#details'), { transition: 'slide'});
            return true;
        }
            
            //$( '#details' ).enhanceWithin();
            
            //$('#').listview('refresh');
            
            
        </script>

<script>
/*
https://developers.google.com/maps/documentation/javascript/adding-a-google-map
 */  

      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
      
	function size_map() {
		$('#map').height( $(window).height() - 81 +  'px');
	}
</script>


<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCDs-cJfxydB2mKizGvtEt5tGMhcxMjmk&callback=initMap">
</script>    

</body>